.catalog {
    padding-bottom: 58px;
    &__row-gap {
        margin-bottom: 30px;
    }

    &__title {
        font-size: 40px;
        font-weight: 500;
        color: #2C2D35;
    }

    &__tab-item {
        &:not(:last-child) {
            margin-right: 32px;
        }
    }

    &__tabs-list {
        display: flex;
        justify-content: flex-end;
    }

    &__tab-link {
        font-size: 20px;
        font-weight: 500;
        color: #2C2D35;
        border-radius: 16px;
        padding: 10px 20px;
        background-color: #D4E8D9;
        &:hover {
            color:#F4F6F5;
            background-color:#376B44;
        }
    }

    &__cart {
        max-width: 350px;
        width: 100%;
        height: auto;
        background-color: #E1EDE6;
        padding: 20px 20px 30px 20px;
        margin-right: 30px;
        margin-bottom: 30px;
        &--mr-0 {
            margin-right: 0;
        }

        &--mb-0 {
            margin-bottom: 0;
        }
    }

    &__cart-image {
        max-width: 310px;
        max-height: auto;
        width: 100%;
    }

    &__art-author {
        color: #86928B;
        padding-bottom: 10px;
        font-size: 18px;
        font-weight: 500;
    }    

    &__art-name {
        padding-bottom: 8px;
        color: #2C2D35;
        font-size: 30px;
        font-weight: 500;
    }

    &__art-description {
        color: #2C2D35;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    &__art-price {
        font-size: 24px;
        font-weight: 500;
        color: #598D66;
        margin-bottom: 20px;
    }

    &__button {
        color: #598D66;
        font-size: 20px;
        font-weight: 500;
        max-width: 310px;
        width: 100%;
        height: auto;
        padding: 21px 0 21px 0;
        background-color: #E1EDE6;
        border: 1px solid #598D66;
    }
}

@media (max-width: 960px) {
    .catalog {
        padding-left: 27px;
        padding-right: 27px;
        &__cart-image {
            max-width: 100%;
            max-height: 422px;
        }

        &__cart {
            margin-right: 0;
            max-width: 100%;
        }
    }
}

@media (max-width: 768px) {
    .catalog {
        &__title {
            font-size: 30px;
            margin: 0;
        }

        &__tabs-list {
            margin: 0;
        }

        &__cart-image {
            max-width: 290px;
            max-height: 422px;
            width: 100%;
        }
    }
}

@media (max-width: 576px) {
    .catalog {
        &__title {
            font-size: 24px;
            margin-bottom: 20px;
        }

        &__tabs-list {
            margin: 0;
        }

        &__cart-art {
            margin-bottom: 15px;
        }

        &__cart-image {
            max-width: 200px;
            max-height: 250px;
            width: 100%;
        }

        &__tabs-list {
            justify-content: flex-start;
        }

        &__tab-link {
            font-size: 18px;
        }

        &__art-author {            
            font-size: 16px;
        }  
        
        &__art-name {
            font-size: 24px;
            margin-bottom: 10px;
            padding: 0;
        }

        &__art-description {
            font-size: 16px;
            line-height: 1.2;
            &--resize {
                margin-bottom: 11px;
            }
        }

        &__art-price {
            font-size: 20px;
            margin-bottom: 10px;
        }

        &__button {
            height: 50px;
            padding: 0;
        }
    }
}

@media (max-width: 540px) {
    .catalog {
        padding: 0;
    }
}

@media (max-width: 480px) {
    .catalog {
        &__title {
            margin-bottom: 20px;
        }

        &__tabs-container {
            overflow-x: auto;
            overflow-y: hidden;
            max-width: 100vw;
            width: 100%;
            margin: 0 auto;
            box-sizing: border-box;
            &::-webkit-scrollbar {
                display: none;
            }
        }

        &__tabs-list {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 15px;
            padding-left: 10px;
            margin: 0 -10px;
        }

        &__tab-item {
            flex: 0 0 35%;
            scroll-snap-align: start;
            &:last-child {
                margin-right: 0;
            }

            &:not(:last-child) {
                margin-right: 20px;
            }
        }

        &__tab-link {
            display: block;
            width: 100%;
            padding: 8px 12px;
            box-sizing: border-box;
            text-align: center;
        }

        &__cart {
            margin-right: 0;
            max-width: none;
            margin-bottom: 60px;
        }

        &__cart-image {
            max-width: 250px;
            max-height: 250px;
        }
    }
}

@media (max-width: 320px) {
    .catalog {
        &__tabs-list {
            max-width: 300px;
        }
    }
}







