@use "sass:meta";

@include meta.load-css('components/header');
@include meta.load-css('components/pictures-section');
@include meta.load-css('components/catalog-section');
@include meta.load-css('components/promo-section');
@include meta.load-css('components/about-section');
@include meta.load-css('components/footer');
// @import 'variables';
// @import 'mixins';
// @import 'base';

// Дополнительные стили
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 500; // Medium
}

a {
  text-decoration: none !important;  
  &:hover {
    text-decoration: none;
  }
}